@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');
$family-sans-serif: 'Roboto', sans-serif;
$family-monospace: 'Roboto Mono', monospace;

@import '../../node_modules/bulma/bulma.sass';
@import '../../node_modules/highlight.js/styles/solarized-light.css';

html {
    background: rgba(10, 10, 10, 0.03);
    min-height: 100vh;
    overflow-y: auto;
    width: 100%;
    body {
        height: 100%;
        margin: 0 auto;
        overflow-x: hidden;
        width: 100%;
    }
}
